@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
/* Font Name: Patrick Hand SC */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* Font Name: Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
/* Font Name: IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
/* Font Name: Marcellus */

:root {
    --white: #f5f5f5;
    --lightgrey: #BEBEBE;
    --grey: #999999;
    --lightbrown: #C8AD7D;
    --brown: #A6795B; 
    };

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      .container {
        position: relative;
        width: 350px;
        margin: 50px auto;
        perspective: 1000px;
        padding-top: 200px;
      }
      .rotator {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 55%;
        height: 150px;
        transform-style: preserve-3d;
        animation: roter 17s linear infinite;
      }
      .rotator:hover {
        animation-play-state: paused;
      }
      @keyframes roter {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(360deg);
        }
      }
      .items {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        border: 2px solid #333;
      }
      .items:hover img {
        transform: scale(1.2);
      }
      .items img {
        height: 100%;
        width: 100%;
        transition: all 3s ease;
      }
      .items:first-child {
        transform: rotateY(calc(40deg * 1)) translateZ(300px);
      }
      .items:nth-child(2) {
        transform: rotateY(calc(40deg * 2)) translateZ(300px);
      }
      .items:nth-child(3) {
        transform: rotateY(calc(40deg * 3)) translateZ(300px);
      }
      .items:nth-child(4) {
        transform: rotateY(calc(40deg * 4)) translateZ(300px);
      }
      .items:nth-child(5) {
        transform: rotateY(calc(40deg * 5)) translateZ(300px);
      }
      .items:nth-child(6) {
        transform: rotateY(calc(40deg * 6)) translateZ(300px);
      }
      .items:nth-child(7) {
        transform: rotateY(calc(40deg * 7)) translateZ(300px);
      }
      .items:nth-child(8) {
        transform: rotateY(calc(40deg * 8)) translateZ(300px);
      }
      .items:nth-child(9) {
        transform: rotateY(calc(40deg * 9)) translateZ(300px);
      }
      
    